#home.angles-wrapper_page-1 footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1;
}
footer {
  background: #e8eaf6;
  color: #a6a6a6;
  clear: both;
  font-family: 'Oswald';
  font-size: 15px;
  font-weight: 700;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 33px 0 28px;
  letter-spacing: .65px;
  text-transform: uppercase;
  z-index: 99;
  height: 6em;
}
footer a {
  color: #a6a6a6;
}
.footer-social a {
  display: inline-block;
  width: 20px;
  height: 20px;
  text-align: center;
  text-decoration: none;
}
