footer {
  height: 3em;
  z-index: 99;
  background: #ffffff;
  color: #37474f;
  font-family: 'Oswald';
  font-weight: bold;
  font-size: 1.25em;
  letter-spacing: 0.05em;
  text-decoration: none;
  text-transform: uppercase;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
}
footer p {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 1em;
  padding-left: 7em;
}
footer a {
  color: #37474f;
  cursor: pointer;
  display: inline-block;
  padding: 0em .25em;
}
footer .footer-social {
  position: absolute;
  top: 0;
  right: 0;
  padding-top: 1em;
  padding-right: 17em;
}