.carousel-inner .item img, img {
  max-width: none;
  max-height: 894px;
  min-height: 894px;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.carousel-container {
  width: 100%;
  height: 100%;
  padding: 0em;
  margin: 0em;
}
.content-container p, .content-container button{
  z-index: 999;
  color: green;
  font-family: 'Oswald';
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: right;
}
.content-container .first-line {
  font-size: 3em;
  margin-right: 4em;
}
.content-container .second-line {
  font-size: 2em;
  margin-right: 6em;
}
.content-container button {
  background-color: #000000;
  color: #ffffff;
  font-size: 1.5em;
  margin-right: 6em;
}

