/* ------------ Carousel ------------- */

.carousel-container {
  width: 100%;
  height: 100%;
  padding: 0em;
  margin: 0em;
}
.carousel-inner .item img, img {
  max-width: none;
  max-height: 953px;
  min-height: 953px;
  width: 100%;
  height: 100%;
}

/* ------------ Carousel Content ------------- */

.content-container {
  z-index: 55;
  color: #ffffff;
  font-family: 'Oswald';
  font-weight: bold;
  text-transform: uppercase;
  text-align: right;
  position: relative;
  float: right;
  margin-top: -41em;
}
.social-media-container {
  margin-right: 12em;
}
.social-media-container a {
  width: 2em;
  height: 2em;
  font-size: 1.5em;
  line-height: 2em;
  text-align: center;
  color: #ffffff;
  background: rgba(55, 71, 79, 0.5);
  display: inline-block;
  border-radius: 4em;
  margin-left: 0.25em;
}
.social-media-container a:hover {
  -webkit-box-shadow: 0px 0px 6px #000000;
}
.content-container .first-line {
  font-size: 3em;
  margin-right: 4em;
  padding-top: 1em;
}
.content-container .second-line {
  font-size: 2em;
  margin-right: 6em;
  padding-bottom: 1em;
}
.content-container button {
  color: #ffffff;
  margin-right: 9.75em;
}

/* ------------ Bottom Circles ------------- */

#homeCarousel .carousel-indicators{
  z-index: 100;
  width: 79.1%;
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  padding-bottom: 1em;
  letter-spacing: -0.25em;
}
#homeCarousel .carousel-indicators li{
  background-color: #37474f
}
#homeCarousel .carousel-indicators .active{
  background-color: #f1c311
}
.bottom-squares-container {
  margin-top: -11em;
  margin-right: 9em;
}
.bottom-squares-container .qc{
  z-index: 50;
  width: 75em;
  height: 10em;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-top: -6em;
  margin-right: 0em;
}
.circles {
  z-index: 50;
  background-color: #ffffff;
  position: relative;
  display: inline-block;
  float: right;
  border-radius: 10em;
}
.large-circles {
  width: 5em;
  height: 5em;
}
.medium-circles {
  width: 3em;
  height: 3em;
}
.small-circles {
  width: 1em;
  height: 1em;
}
.bottom-squares-container #circle1{
  width: 9em;
  height: 9em;
  margin-top: 3.5em;
}
.bottom-squares-container #circle2{
  margin-top: -1em;
  margin-right: -8.5em;
}
.bottom-squares-container #circle3{
  margin-top: 7.75em;
  margin-right: 0em;
}
.bottom-squares-container #circle4{
  margin-top: 2em;
  margin-right: -7.8em;
}
.bottom-squares-container #circle5{
  margin-top: -6.5em;
  margin-right: -12.25em;
}
.bottom-squares-container #circle6{
  margin-top: -1.75em;
  margin-right: -2em;
}
.bottom-squares-container #circle7{
  margin-top: 9em;
  margin-right: 2em;
}
.bottom-squares-container #circle8{
  margin-top: 3em;
  margin-right: -5em;
}
.bottom-squares-container #circle9{
  margin-top: -5em;
  margin-right: -13em;
}
.bottom-squares-container #circle10{
  margin-top: -8.5em;
  margin-right: -13em;
}
.bottom-squares-container #circle11{
  margin-top: -8em;
  margin-right: -13em;
}
.bottom-squares-container #circle12{
  margin-top: -7.5em;
  margin-right: -9.5em;
}
.bottom-squares-container #circle13{
  margin-top: -6.5em;
  margin-right: -6em;
}
.bottom-squares-container #circle14{
  margin-top: -4.5em;
  margin-right: -3em;
}
.bottom-squares-container #circle15{
  margin-top: -1.5em;
  margin-right: -1em;
}
.bottom-squares-container #circle16{
  margin-top: 1.5em;
  margin-right: 0.5em;
}
.bottom-squares-container #circle17{
  margin-top: 4.75em;
  margin-right: 0em;
}
.bottom-squares-container #circle18{
  margin-top: 8em;
  margin-right: -0.5em;
}
