.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 5em;
    float: left;
}

/* ------------ Navbar Hamburger ------------- */

#hamburger {
    z-index: 70;
    position: relative;
    color: #37474f;
    cursor: pointer;
    margin-top: 13em;
    margin-left: 1.05em;
}
.hamburger-circle {
    cursor: pointer;
    margin-left: 1em;
    margin-top: -3em;
}
.hamburger-circle:hover {
  -webkit-box-shadow: 0px 0px 6px #000000;
}
.top-circles {
    z-index: 60;
    position: relative;
    width: 4em;
    height: 4em;
    border: 3px solid #f1c311;
    background-color: white;
    border-radius: 4em;
}

/* ------------ Modal ------------- */

.modal-container {
    z-index: 100;
    position: fixed;
    display: block;
    background-color: rgba(0, 0, 0, 0.7);
    bottom: 0em;
    left: 0em;
    right: 0em;
    top: 0em;
}
.modal-container .modal{
    z-index: 100;
    position: fixed;
    display: block;
    width: 95%;
    height: 94%;
    background-color: #ffffff;
    border-radius: 6px;
    padding: 20px;
    margin: 2.5%
}
.modal-container .modal{
    cursor: pointer;
}