<div class="about-page-container">
    <div class="header-container">
        <p class="about-title-name">About Me</p>
        <p class="about-title-sidenote">...or at least a small part</p>
    </div>
    <div class="personal-info-container">
        <div class="personal-image-and-info">
            <div class="about-image-container">
                <div class="about-image"></div>
                <!--<img src="../images/profile-picture.jpg" alt="" class="about-image">-->
            </div>
            <div class="personal-info-bullets-container">
                <div class="bullet-points-container">
                    <div class="bullet-point">
                        <i class="fa fa-calendar fa-lg bullet-icon"></i>
                        <p class="bullet-point-titles title1">Birthday</p>
                        <p class="bullet-point-colon colon1">:</p>
                        <p class="bullet-point-info">03/16/94</p>
                    </div>
                    <div class="bullet-point">
                        <i class="fa fa-phone fa-lg bullet-icon"></i>
                        <p class="bullet-point-titles title2">Phone</p>
                        <p class="bullet-point-colon colon2">:</p>
                        <p class="bullet-point-info">1 (205)873-3273</p>
                    </div>
                    <div class="bullet-point">
                        <i class="fa fa-envelope fa-lg bullet-icon"></i>
                        <p class="bullet-point-titles title3">Email</p>
                        <p class="bullet-point-colon colon3">:</p>
                        <p class="bullet-point-info">ddickersoniv@gmail.com</p>
                    </div>
                    <div class="bullet-point">
                        <i class="fa fa-linkedin fa-lg bullet-icon"></i>
                        <p class="bullet-point-titles title4">LinkedIn</p>
                        <p class="bullet-point-colon colon4">:</p>
                        <p class="bullet-point-info"><a href="https://www.linkedin.com/in/dudley-dickerson-a6a56a106">Link To My LinkedIn</a></p>
                    </div>
                    <div class="bullet-point">
                        <i class="fa fa-github fa-lg bullet-icon"></i>
                        <p class="bullet-point-titles title5">Github</p>
                        <p class="bullet-point-colon colon5">:</p>
                        <p class="bullet-point-info"><a href="https://github.com/littledudz">Link To My Github</a></p>
                    </div>
                    <div class="bullet-point">
                        <i class="fa fa-map-marker fa-lg bullet-icon"></i>
                        <p class="bullet-point-titles title6">Address</p>
                        <p class="bullet-point-colon colon6">:</p>
                        <p class="bullet-point-info">4626 Battery Lane</p>
                    </div>
                    <p class="bullet-point-city">Birmingham, Al 35213</p>
                </div> <!-- end .bullet-points-container -->
                <p class="about-name">Dudley Dickerson</p>
                <a href="../files" download="resume.pdf"><button class="about-buttons download-resume-button" ng-click=""><i class="fa fa-download"></i>   Download Resume</button></a>
                <button class="about-buttons view-resume-button" ng-click="goToResumeView()"><i class="fa fa-eye"></i>  View Resume</button>
            </div> <!-- end .personal-info-bullets-container -->
        </div> <!-- end .personal-image-and-info -->
    </div> <!-- end .personal-info-container -->
    <div class="interest-and-background-container">
        <div class="background-container">
            <p class="about-background">Hello! I am Dudley Dickerson, and it is a pleasure to meet you! Just to let you know a little bit about myself, I am a front-end web developer who is always looking for a way to further my education. I started of my coding career as just an enthusiastic college grad looking to get into the software side of technology, and so, I decided to begin by going to Depot U, a coding boot-camp in downtown Birmingham. Ever since then, I have been pursuing my passion for technology by developing new skills in many different facits of the realm.</p>
            <!--<p class="about-background">uiyuiyuiu</p>-->
        </div>
        <div class="interest-container">
            <h3 class="interest-title">Hobbies & Interests</h3>
            <div class="interest-list">
                <div class="interest-line1">
                    <div class="item-container">
                        <a href="#" class="item">
                            <span class="item-icon"><i class="fa fa-gamepad"></i></span>
                            <span class="item-details">
                                <span class="item-title">Games</span>
                                <span class="item-description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </span>
                            </span><!-- /.item-details -->
                        </a> <!-- .item -->
                    </div> <!-- end .item-container -->
                    <div class="item-container">
                        <a href="#" class="item">
                            <span class="item-icon"><i class="fa fa-apple"></i></span>
                            <span class="item-details">
                                <span class="item-title">Apple</span>
                                <span class="item-description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </span>
                            </span><!-- /.item-details -->
                        </a> <!-- .item -->
                    </div> <!-- end .item-container -->
                    <div class="item-container">
                        <a href="#" class="item">
                            <span class="item-icon"><i class="fa fa-headphones"></i></span>
                            <span class="item-details">
                                <span class="item-title">Music</span>
                                <span class="item-description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </span>
                            </span><!-- /.item-details -->
                        </a> <!-- .item -->
                    </div> <!-- end .item-container -->
                </div> <!-- end .interest-line1 -->
                <div class="interest-line2">
                    <div class="item-container">
                        <a href="#" class="item">
                            <span class="item-icon"><i class="fa fa-coffee"></i></span>
                            <span class="item-details">
                                <span class="item-title">Coffee</span>
                                <span class="item-description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </span>
                            </span><!-- /.item-details -->
                        </a> <!-- .item -->
                    </div> <!-- end .item-container -->
                    <div class="item-container">
                        <a href="#" class="item">
                            <span class="item-icon"><i class="fa fa-film"></i></span>
                            <span class="item-details">
                                <span class="item-title">Movies</span>
                                <span class="item-description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </span>
                            </span><!-- /.item-details -->
                        </a> <!-- .item -->
                    </div> <!-- end .item-container -->
                    <div class="item-container">
                        <a href="#" class="item">
                            <span class="item-icon"><i class="fa fa-plane"></i></span>
                            <span class="item-details">
                                <span class="item-title">Travel</span>
                                <span class="item-description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </span>
                            </span><!-- end .item-details -->
                        </a> <!-- end .item -->
                    </div> <!-- end .item-container -->
                </div> <!-- end .interests-line2 -->
            </div> <!-- end .interest-list -->
        </div> <!-- end .interest-container -->
    </div> <!-- end .interest-and-background-container -->
</div> <!-- end about-page-container -->
