<div class="about-page-container">
    <div class="header-container">
        <p class="about-title-name">About Me</p>
        <p class="about-title-sidenote">...or at least a small part</p>
    </div>
    <div class="personal-info-container">
        <div class="background-container">
            <p class="about-background">ertert</p>
            <p class="about-background">uiyuiyuiu</p>
        </div>
        <div class="personal-image-and-info">
            <div class="about-image-container">
                <div class="about-image"></div>
            </div>
            <div class="personal-info-bullets-container">
                <div class="bullet-points-container">
                    <div class="bullet-point">
                        <i class="fa fa-calendar"></i>
                        <p class="bullet-point-titles">Birthday  :</p>
                        <p class="bullet-point-info">  03/16/94</p>
                    </div>
                    <div class="bullet-point">
                        <i class="fa fa-phone"></i>
                        <p class="bullet-point-titles">Phone  :</p>
                        <p class="bullet-point-info">  1 (205)873-3273</p>
                    </div>
                    <div class="bullet-point">
                        <i class="fa fa-envelope"></i>
                        <p class="bullet-point-titles">Email  :</p>
                        <p class="bullet-point-info">  ddickersoniv@gmail.com</p>
                    </div>
                    <div class="bullet-point">
                        <i class="fa fa-linkedin"></i>
                        <p class="bullet-point-titles">LinkedIn  :</p>
                        <p class="bullet-point-info">  https://www.linkedin.com/in/dudley-dickerson-a6a56a106</p>
                    </div>
                    <div class="bullet-point">
                        <i class="fa fa-github"></i>
                        <p class="bullet-point-titles">Github  :</p>
                        <p class="bullet-point-info">https://github.com/littledudz</p>
                    </div>
                    <div class="bullet-point">
                        <i class="fa fa-map-marker"></i>
                        <p class="bullet-point-titles">Address  :</p>
                        <p class="bullet-point-info">  4626 Battery Lane</p>
                    </div>
                </div> <!-- end .bullet-points-container -->
                <p class="about-name">Dudley Dickerson</p>
                <button class="about-buttons download-resume-button"><i class="fa fa-download"></i>   Download Resume</button>
                <button class="about-buttons view-resume-button"><i class="fa fa-eye"></i>   View Resume</button>
            </div> <!-- end .personal-info-bullets-container -->
        </div> <!-- end .personal-image-and-info -->
    </div> <!-- end .personal-info-container -->
</div> <!-- end about-page-container -->
