<div class="carousel-container">
	<div class="row">
		<div class="span12">
			<div id="homeCarousel" class="carousel slide">
				<ol class="carousel-indicators">
					<li data-target="#homeCarousel" data-slide-to="0" class="active"></li>
					<li data-target="#homeCarousel" data-slide-to="1"></li>
					<li data-target="#homeCarousel" data-slide-to="2"></li>
					<li data-target="#homeCarousel" data-slide-to="3"></li>
				</ol>
				<div class="carousel-inner">
					<div class="item active">
						<img src="../images/carousel/1.jpg" alt="overwatch">
						<div class="content-container">
							<p class="first-line">Hello World</p>
							<p class="second-line">I'm Alive!</p>
							<button type="button">Click me</button>
						</div>
					</div>
					<div class="item">
						<img src="../images/carousel/2.jpg" alt="overwatch">
					</div>
					<div class="item">
						<img src="../images/carousel/3.jpg" alt="overwatch">
					</div>
					<div class="item">
						<img src="../images/carousel/4.jpg" alt="overwatch">
					</div>
				</div> <!-- end .carousel-inner -->
			</div> <!-- end #homeCarousel -->
		</div> <!-- end .span12 -->
	</div> <!-- end .row -->
	<script> 
		$('#homeCarousel') .carousel({
			interval: 7000000,
			cycle: true
		});
	</script>
</div> <!-- end .carousel-container -->
