<div class="carousel-container">
	<div id="homeCarousel" class="carousel slide">
		<ol class="carousel-indicators">
			<li data-target="#homeCarousel" data-slide-to="0" class="active"></li>
			<li data-target="#homeCarousel" data-slide-to="1"></li>
			<li data-target="#homeCarousel" data-slide-to="2"></li>
			<li data-target="#homeCarousel" data-slide-to="3"></li>
		</ol>
		<div class="carousel-inner">
			<div class="item active">
				<img src="../images/carousel/1.jpg" alt="overwatch">
				<div class="content-container">
					<div class="social-media-container">
						<a class="social-media" href="#"><i class="fa fa-facebook"></i></a>
						<a class="social-media" href="#"><i class="fa fa-linkedin"></i></a>
						<a class="social-media" href="#"><i class="fa fa-github"></i></a>
					</div>
					<p class="first-line">Hello World</p>
					<p class="second-line">I'm Alive!</p>
					<button type="button" class="round-corners carousel-button">Check Me Out</button>
				</div>
			</div>
			<div class="item">
				<img src="../images/carousel/2.jpg" alt="overwatch">
				<div class="content-container">
					<div class="social-media-container">
						<a class="social-media" href="#"><i class="fa fa-facebook"></i></a>
						<a class="social-media" href="#"><i class="fa fa-linkedin"></i></a>
						<a class="social-media" href="#"><i class="fa fa-github"></i></a>
					</div>
					<p class="first-line">Dudley</p>
					<p class="second-line">I'm Alive!</p>
					<button type="button" class="round-corners carousel-button">Check Me Out</button>
				</div>
			</div>
			<div class="item">
				<img src="../images/carousel/3.jpg" alt="overwatch">
				<div class="content-container">
					<div class="social-media-container">
						<a class="social-media" href="#"><i class="fa fa-facebook"></i></a>
						<a class="social-media" href="#"><i class="fa fa-linkedin"></i></a>
						<a class="social-media" href="#"><i class="fa fa-github"></i></a>
					</div>
					<p class="first-line">Dickerson</p>
					<p class="second-line">I'm Alive!</p>
					<button type="button" class="round-corners carousel-button">Check Me Out</button>
				</div>
			</div>
			<div class="item">
				<img src="../images/carousel/4.jpg" alt="overwatch">
				<div class="content-container">
					<div class="social-media-container">
						<a class="social-media" href="#"><i class="fa fa-facebook"></i></a>
						<a class="social-media" href="#"><i class="fa fa-linkedin"></i></a>
						<a class="social-media" href="#"><i class="fa fa-github"></i></a>
					</div>
					<p class="first-line">dffhdgbgfdg</p>
					<p class="second-line">I'm Alive!</p>
					<button type="button" class="round-corners carousel-button">Check Me Out</button>
				</div>
			</div>
		</div> <!-- end .carousel-inner -->
	</div> <!-- end #homeCarousel -->
	<script> 
		$('#homeCarousel') .carousel({
			interval: 7000,
			cycle: true
		});
	</script>
</div> <!-- end .carousel-container -->
<div class="bottom-squares-container">
	<!--<img class="qc" src="../images/qc.png" alt="qc">-->
	<div class="circles large-circles" id="circle2"></div>
	<div class="circles large-circles" id="circle3"></div>
	<div class="circles large-circles" id="circle4"></div>
	<div class="circles medium-circles" id="circle5"></div>
	<div class="circles medium-circles" id="circle6"></div>
	<div class="circles medium-circles" id="circle7"></div>
	<div class="circles medium-circles" id="circle8"></div>
	<div class="circles medium-circles" id="circle9"></div>
	<!--<div class="circles small-circles" id="circle10"></div>
	<div class="circles small-circles" id="circle11"></div>
	<div class="circles small-circles" id="circle12"></div>
	<div class="circles small-circles" id="circle13"></div>
	<div class="circles small-circles" id="circle14"></div>
	<div class="circles small-circles" id="circle15"></div>
	<div class="circles small-circles" id="circle16"></div>
	<div class="circles small-circles" id="circle17"></div>
	<div class="circles small-circles" id="circle18"></div>-->
</div> <!-- end .bottom-squares-container -->
